@*We are telling compiler that we are writing c# code*@
@model  List<First_MVC_APP.Models.PlayerViewModel>;  

<h1>Your dream team:</h1>
<!-- unordered list -->
<ul>
	@foreach(var dog in Model) 
	{
		//list element
		<li>
			@dog.Name @dog.Surname @dog.Age @dog.Possition
		</li>
	}
</ul>
