@*We are telling compiler that we are writing c# code*@
@model  List<First_MVC_APP.Models.PlayerViewModel>;  

<h1>Your dream team:</h1>
<!-- unordered list -->
<ul>
	@foreach(var players in Model) 
	{
		//list element
		<li>
			@players.Name @players.Surname at possition @players.Possition (@players.Age years old)
		</li>
	}
</ul>
